body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 48px;
}
.name-color{
    color: yellowgreen;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.first-section{
    width: 35%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.first-section img{
    height: 70%;
    width: 70%;
}
.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, blue);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
}
.about-section{
    height: 500px;
}
.second-section{
    width: 35%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.second-section img{
    height: 70%;
    width: 70%;
}
.cv-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, blue);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
}
.word-link{
    text-decoration: none;
}
#sec-3-title{
    text-align: center;
}
.title-word-color{
    color: red;
}
.latest-project-section{
    height: 500px;
}
.third-section-block{
    width: 23%;
    height: 380px;
    float:left;
    margin-left: 5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    box-shadow: 0px 0px 20px rgba(173, 171, 171, 0.25);
    border-radius: 25px;
}
#sec3-img1{
    width: 100%;
}
#sec3-img2{
    width: 100%;
}
#sec3-img3{
    width: 100%;
}
#bottom-pic{
    width: 900px;
    height: 190px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
.last-section{
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
}
.work-inquiry{
    position: absolute;
    top: 0px;
    left: 20%;
}
.work-inquiry a span{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(37, 223, 108), red);
    border-radius: 5px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    position: absolute;
    top: 80px;
    right: -430px;
    

}

.footer-class{
    position: relative;
    text-align: center;
}